*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face{
    font-family: FONTE;
    src: url(./fonts/BebasNeue-Regular.otf);
}

@font-face{
    font-family: bold;
    src: url(./fonts/PostNoBillsJaffna-ExtraBold.ttf);
}

@font-face {
  font-family: Russo;
  src: url(./fonts/RussoOne-Regular.ttf);
}
#landpage{
  background-color: #000000;
    width: 100%;
    height: 3000px;
}

#boxone{
    width: 100%;
    height: 800px;
    display: flex;

    flex-direction: column;
}

#flexstudio{
    width: 100%;
    height: 100%;
    opacity: 60%;
}

#cab{
    width: 100%;
    height: 10%;
    position: absolute;
    color: white;
    
    display: flex;
    justify-content: space-around;
    margin-top: 45px;
    

    font-family: FONTE;
    font-size: 80%;
    font-weight: 400;
    line-height: 55px;

    z-index: 1;
}

#cab h1:hover{
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
}

.hamburguer-menu {
  display: block;
  width: 32px;
  height: 35px;
  position: relative;
  cursor: pointer;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: white;
  position: absolute;
  left: 0;
  top: 70%;
  transform: translateY(-50%);
  transition: transform 0.2s ease;
}

.bar:nth-child(2) {
  top: 50%;
}

.bar:last-child {
  top: auto;
  bottom: 0;
}

.hamburguer-menu.active .bar:first-child {
  transform: translateY(8px) rotate(45deg);
}

.hamburguer-menu.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburguer-menu.active .bar:last-child {
  transform: translateY(-8px) rotate(-45deg);
}

#mid{ 
    width: 100%;
    height: 45%;
    
    

    position: absolute;
    margin-top: 150px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    font-family: FONTE;
    z-index: 2;
}

#spaceair :hover{
  color: black;
  background-color: white;
}

#spaceair{
    background-color: #00000080;
    width: 15%;
    height: 230px;
    border-radius: 25px;
  
    color: white;
    z-index: 1;
   
    font-style: normal;
    font-size: 35px;
    line-height: 45px;
    text-align: center;
    padding: 20px;
} 
#spaceone{
    background-color:  #00000080;
    width: 15%;
    height: 230px;
    border-radius: 25px;

    color: white;
    z-index: 1;
    font-style: normal;
    font-size: 35px;
    line-height: 45px;
    text-align: center;
    padding: 15px;
}

#spaceup{
    background-color:  #00000080;
    width: 15%;
    height: 230px;
    border-radius: 25px;
    z-index: 1;
    
    color: white;
    font-style: normal;
    font-size: 35px;
    line-height: 45px;
    text-align: center;
    padding: 20px;
}

#down{
  width: 100%;
  height: 30vh;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-family: FONTE;

  position: absolute;
  margin-top: 500px;
}

#spaceadv{
  background-color:  #00000080;
  width: 15%;
  height: 230px;
  border-radius: 25px;

  color: white;
  z-index: 1;
  font-style: normal;
  font-size: 35px;
  line-height: 45px;
  text-align: center;
  padding: 20px;
}

#spaceforce{
  background-color:  #00000080;
  width: 15%;
  height: 230px;
  border-radius: 25px;

  color: white;
  z-index: 1;
  font-style: normal;
  font-size: 35px;
  line-height: 45px;
  text-align: center;
  padding: 20px;
}

#fy{

  background-color: #d9d9d9;
  width: 100%;
  height: 750px;
  display: flex;
  justify-content: space-evenly;
  font-family: FONTE;

  position: absolute;
  margin-top: 890px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  
}

#imgfy{
  width: 60%;
  height: 90%;
  background-color: #000000;
  background-image: url(./imgs/esbfy.png);
  background-repeat: no-repeat;
  background-size: 80%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#imgfy h1{
  font-size: 100px;
  position: relative;
  left: 40px;
  bottom: 30px;
}

#imgfy h2{
  font-size: 30px;
  position: relative;
  right: 90px;
  bottom: 30px;
  text-align: left;
  
}



#textfy{
  background-color: #d9d9d9;
  color: #000000;

  width: 32%;
  height: 90%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 100px;

  position: relative;  
}

#textfy h3{
  position: relative;
  bottom: 40px;
  }

 button{
  font-family: FONTE;
  border: 1px solid #000000;
  border-radius: 90px;
  width: 230px;
  height: 63px;
  font-size: 35px;
  position: relative;
  top: 50px;

 }

 #contin{
  position: relative;
  background-color: #c9c9c9;
  width: 100%;
  height: 300px;
  top: 841px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Russo;
  font-size: 100px;
 }

 #contin h1{
  position: absolute;
  color: black;
  left: 450px;
  top: 170px;
  z-index: 1;
}

 #services{
  background-color: #d9d9d9;
  height: 1400px;

  position: relative;
  top: 841.5px;

  display: grid;
  grid-template-columns:  0.5fr 4.5fr 6fr 0.5fr;
  grid-template-rows: 3fr 9fr 8fr 2fr;
  font-family: Russo;
 }

 #scheme{
  background-color: white;
  width: 100%;
  height: 100%;
  grid-area: 2 / 2 / 4 / 3 ;
  
  display: flex;
  border-radius: 40px;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 1;
 }

 #TE{
  background-color: #d9d9d9;
  width: 80%;
  height: 6%;
  border-radius: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
 }

 #PI{
  background-color: #d9d9d9;
  width: 80%;
  height: 6%;
  border-radius: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
 }

 #ME{
  background-color: #d9d9d9;
  width: 80%;
  height: 6%;
  border-radius: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
 }

 #AC{
  background-color: #d9d9d9;
  width: 80%;
  height: 6%;
  border-radius: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
 }

 #TA{
  background-color: #d9d9d9;
  width: 80%;
  height: 6%;
  border-radius: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
 }

 #littlea{
  background-color: #d9d9d9;
  width: 80%;
  height: 6%;
  border-radius: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
 }

 .cnq{
  width: 50%;
  height: 3%;
  border: 1px solid #000000;
  border-radius: 8px;

  font-size: 25px;
  opacity: 0.4;
 }

 #installation{
  background-image: url(./imgs/installation.png);
  background-size: 100%;
  width: 100%;
  height: 100%;

  grid-area: 2 / 3 / 3 / 4;
  background-repeat: no-repeat;
  position: relative;
  right: 30px;
  border-radius: 0px 40px 0px 0px;
 }
 


 