*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button:hover {
  background-color: black;
  color: white;
}

button{
  font-family: FONTE;
  border: 1px solid #000000;
  border-radius: 90px;
  width: 230px;
  height: 63px;
  font-size: 35px;
  position: relative;
  top: 50px;

 }

@font-face{
    font-family: FONTE;
    src: url(./fonts/BebasNeue-Regular.otf);
}

@font-face{
    font-family: bold;
    src: url(./fonts/PostNoBillsJaffna-ExtraBold.ttf);
}

@font-face {
  font-family: Russo;
  src: url(./fonts/RussoOne-Regular.ttf);
}

@font-face {
  font-family: SPARTAN;
  src: url(./fonts/SpartanMB-Regular.otf);
}
#landpage{
  background-color: #000000;
    width: 100%;
    height: 700vh;
}

#boxone{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#flexstudio{
    width: 100%;
    height: 100vh;
    opacity: 60%;
}

#cab{
    width: 100%;
    height: 30vh;
    position: absolute;
    color: white;
    
    display: flex;
    justify-content: space-around;
    margin-top: 8vh;
    

    font-family: FONTE;
    font-size: 100%;
    line-height: 1%;
    z-index: 1;
}


#cab h1:hover{
  -webkit-text-stroke-width: 0.5px;
  color: #000000;
}


#mid{ 
    width: 100%;
    height: 60vh;
    
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 8vh;

    font-family: FONTE;
    z-index: 1;
}

#mid :hover{
  color: black;
  background-color: white;
  
}

#down :hover{
  color: black;
  background-color: white;
}

#spaceair{
    background-color: #00000080;
    width: 15%;
    height: 35vh;
    border-radius: 25px;
  
    color: white;
    z-index: 1;
   
    font-style: normal;
    font-size: 35px;
    line-height: 45px;
    text-align: center;
    padding: 20px;
} 
#spaceone{
    background-color:  #00000080;
    width: 15%;
    height: 35vh;
    border-radius: 25px;

    color: white;
    z-index: 1;
    font-style: normal;
    font-size: 35px;
    line-height: 45px;
    text-align: center;
    padding: 15px;
}

#spaceup{
    background-color:  #00000080;
    width: 15%;
    height: 35vh;    
    border-radius: 25px;
    z-index: 1;
    
    color: white;
    font-style: normal;
    font-size: 35px;
    line-height: 45px;
    text-align: center;
    padding: 20px;
}

#down{
  width: 100%;
  height: 30vh;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-family: FONTE;

  position: absolute;
  margin-top: 30%;
}

#spaceadv{
  background-color:  #00000080;
  width: 15%;
  height: 35vh;
  border-radius: 25px;

  color: white;
  z-index: 1;
  font-style: normal;
  font-size: 35px;
  line-height: 45px;
  text-align: center;
  padding: 20px;
}

#spaceforce{
  background-color:  #00000080;
  width: 15%;
  height: 35vh;
  border-radius: 25px;

  color: white;
  z-index: 1;
  font-style: normal;
  font-size: 35px;
  line-height: 45px;
  text-align: center;
  padding: 20px;
}

#fy{

  background-color: #d9d9d9;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  font-family: FONTE;

  position: absolute;
  margin-top: 55%;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  
}

#imgfy{
  width: 60%;
  height: 90%;
  background-color: #000000;
  background-image: url(./imgs/esbfy.png);
  background-repeat: no-repeat;
  background-size: 80%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#imgfy h1{
  font-size: 100px;
  position: relative;
  left: 40px;
  bottom: 30px;
}

#imgfy h2{
  font-size: 30px;
  position: relative;
  right: 90px;
  bottom: 30px;
  text-align: left;
  
}

.link{
  color: white;
  text-decoration: none;
  
}

#textfy{
  background-color: #d9d9d9;
  color: #000000;

  width: 32%;
  height: 90%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-style: normal;
  font-size: 2em;
  line-height: 13vh;

  position: relative;  
  box-shadow: 0px 0px 4px;
}

#textfy h3{
  position: relative;
  bottom: 10%;
  }

 

 #contin{
  position: relative;
  background-color: #c9c9c9;
  width: 100%;
  height: 30vh;
  top: 16%;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Russo;
  font-size: 6em;
 }

 #contin h1{
  position: absolute;
  color: black;
  left: 30%;
  top: 30%;
  z-index: 1;
  
}

 #services{
  background-color: #d9d9d9;
  height: 200vh;

  position: relative;
  top: 16%;

  display: grid;
  grid-template-columns:  0.5fr 4.5fr 6fr 0.5fr;
  grid-template-rows: 3fr 8fr 8fr 2.5fr;
  font-family: Russo;

  box-shadow: 0px 0px 4px ;
 }

 #scheme{
  background-color: white;
  width: 100%;
  height: 100%;
  grid-area: 2 / 2 / 4 / 3 ;
  
  display: flex;
  border-radius: 40px;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 1;
 }

 #scheme :hover{
    color: white;
    background-color: #000000;
 }

 #TE{
  background-color: #d9d9d9;
  width: 80%;
  height: 6%;
  border-radius: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
 }

 #PI{
  background-color: #d9d9d9;
  width: 80%;
  height: 6%;
  border-radius: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
 }

 #ME{
  background-color: #d9d9d9;
  width: 80%;
  height: 6%;
  border-radius: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
 }

 #AC{
  background-color: #d9d9d9;
  width: 80%;
  height: 6%;
  border-radius: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
 }

 #TA{
  background-color: #d9d9d9;
  width: 80%;
  height: 6%;
  border-radius: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
 }

 #littlea{
  background-color: #d9d9d9;
  width: 80%;
  height: 6%;
  border-radius: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
 }

 .cnq{
  width: 50%;
  height: 3%;
  border: 1px solid #000000;
  border-radius: 8px;

  font-size: 25px;
  opacity: 0.4;
 }

 #installation{
  background-image: url(./imgs/installation.png);
  background-size: 100%;
  width: 100%;
  height: 100%;

  grid-area: 2 / 3 / 3 / 4;
  background-repeat: no-repeat;
  position: relative;
  right: 30px;
  border-radius: 0px 40px 0px 0px;
 }

 #rds{
  background-color: #d9d9d9;
  width: 100%;
  height: 100vh;

  grid-area: 3/ 3/ 4/ 4;

  display: flex;
  justify-content: space-evenly;
 }

 .flex .sms:hover{
  background-color: black;
  color: white;
 }

 .flex2 .sms:hover{
  background-color: black;
  color: white;
 }

 .flex{
  width: 45%;
  height: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
  
  
 }

 .flex2{
  width: 45%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
 }


 #rds hr{
  width: 70%;
  margin-top:20px;
  margin-left: 40px;
 }


 #rds1{
  background-color: #ffffff;
  width: 100%;
  height: 80%;
  border-radius: 80px;
  
  display: flex;
  flex-direction: column;
  margin-bottom: 50%;
  
 }

 #rds h4{

  margin-top:30px;
  margin-left: 22px;
  font-size: 24px;
 }

 #bpd{
  background-color: #7e7e7e35;
  width: 100%;
  height: 30%;
  

  border-radius: 80px 80px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .sms{
  background: rgba(187, 187, 187, 0.5);
  width: 60%;
  height: 11%;

  border: 1px solid #000000;
  border-radius: 90px;

  font-family: Russo;
  font-size: 15px;
  
  display: flex;
  justify-content: center;
  align-items: center;

 }

 #rds2{
  background-color: #ffffff;
  width: 100%;
  height: 65%;

  border-radius: 80px;
  margin-bottom: 50%;
 }

 #rds1 hr{
  width: 70%;
  margin-top:20px;
  margin-left: 40px;
 }

 #bpd1{
  background-color: #7e7e7e35;
  width: 100%;
  height: 30%;

  border-radius: 80px 80px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;

 }

 #rds2 hr{
  width: 70%;
  margin-top:20px;
  margin-left: 40px;
}

#planos{
  font-family: FONTE;
  background-color:#d9d9d9;
  width: 100%;
  height: 250vh;

  display: grid;
  grid-template-columns: 0.2fr 0.4fr 2.5fr 2.3fr 0.4fr 0.2fr; 
  grid-template-rows: 0.4fr 0.7fr 1.8fr 0.6fr 2.5fr 0.6fr 0.5fr; 

  position: relative;
  top: 16%;
  z-index: 1;
}

#blackplan{
  background-color: #000000;
  width: 100%;
  height: 100%;

  opacity: 80%;

  grid-area: 2 / 2 / 7 / 6;
  border-radius: 2%;
}

#blackt{

  background-color: #000000;
  width: 100%;
  height: 100%;
  grid-area: 3/ 3/ 4/ 5 ;
  border: 2px solid #FFFFFF;
  backdrop-filter: blur(2px); 
  color: white;
  display: flex;
  
}

#bleft{
  width: 50%;
  height: 100%;
  font-size: 5em;

  display: flex;
  justify-content: center;
  align-items: center;

}

#bright{
  width: 50%;
  height: 100%;
  

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;

}

#bright h2{
  font-family: bold;
}
  

#walk{
  width: 100%;
  height: 100%;

  grid-area: 5 / 2 / 7 / 6 ;
  background-image: url(./imgs/women.png);
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1;
  opacity: 95%;

  border-radius: 2%;
}

#cut{
  width: 100%;
  height: 100%;

  grid-area: 5/ 4/ 7/ 6;
  z-index: 1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 5em;
}

#cut h1{
  font-size: 7em;
}

#cut h2{
  font-size: 3em;
}

#cut h4{
  font-size: 2em;
}

#ftdown{
  width: 100%;
  height: 100%;

  grid-area: 6/ 3/ 7/ 5;

  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  color: #FFFFFF;
  z-index: 1;
  font-size: 1em;
}

#goto{
  width: 100%;
  height: 100%;

  grid-area: 7/ 3 / 8 / 5 ;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  color: #FFFFFF;
  z-index: 1;
  color: black;
  
}

#goto h2{
  border: 2px solid #000000;
  border-radius: 50px;
}

#goto :hover{
  background-color: #000000;
  color: white;
}

.gotof{
  text-decoration: none;
  color: #000000;
}

#god{
  width: 100%;
  height: 150vh;

  background-color: #000;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

#pai{
  width: 90%;
  height: 40%;
}

#logo{
  width: 100%;
  height: 80%;

  display: grid; 
  grid-template-columns: 1fr 0.7fr 1fr; 
  grid-template-rows: repeat(8, 1.2fr);
}

#grande{
  width: 100%;
  height: 100%;

  grid-area: 1/ 1/ 8/ 4;
  font-size: 6em;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: RUSSO;

  color: #ffffff25;
}

#pqno{
  width: 100%;
  height: 100%;

  grid-area: 5/ 2/ 7/ 3;
  font-size: 2em;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: RUSSO;
  color: #ffffff;
}

#icons{
  width: 100%;
  height: 20%;

  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.ytb{
  width: 7%;
  height: 10vh;
}

.instagram{
  width: 5%;
  height: 10vh;
}

.wats{
  width: 5%;
  height: 10vh;
}

#whiterow{
  width: 55%;
  height: 4%;

  color: white;
}

#contatos{
  width: 90%;
  height: 40%;

  display: flex;
  
  justify-content: space-around;
}

#saibamais{
  width: 45%;
  height: 90%;

}

#top{
  width: 100%;
  height: 50%;

  font-family: SPARTAN;
  color: #ffffff;
  font-size: 1em;

  display: grid;
  grid-template-rows: repeat(5, 1fr);

}

.mail{
  grid-row-start: 3;
}

.sgc{
  grid-row-start: 4;
}


#end{
  width: 100%;
  height: 50%;

  font-family: SPARTAN;
  color: #ffffff;
  font-size: 1em;

  display: grid;
  grid-template-rows: repeat(4, 1fr);

}

.one{
  grid-row-start: 3;
} 


#siganos{
  width: 45%;
  height: 90%;
}

#top2{
  width: 100%;
  height: 50%;

  font-family: SPARTAN;
  color: #ffffff;
  font-size: 1rem;

  display: grid;
  grid-template-rows: repeat(5, 1fr);
}

.insta{
  grid-row-start: 3;
}

.arroba{
  grid-row-start: 4;
}

#end2{
  width: 100%;
  height: 50%;

  font-family: SPARTAN;
  color: #ffffff;
  font-size: 1rem;

  display: grid;
  grid-template-rows: repeat(6, 1fr);

}

.www{
  grid-row-start: 2;
}

.zap{
  grid-row-start: 4;
}
